@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: #0a0a0a;
}

body {
    overflow-x: hidden;
}

canvas {
    display: block; /* Remove extra space below the canvas */
    width: 100%;
    height: 100%;
}
