@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars if the canvas fills the viewport */
    width: 100%;
    height: 100%;
}

canvas {
    display: block; /* Remove extra space below the canvas */
    width: 100%;
    height: 100%;
}